<!-- <h1>{{form | json}}</h1> -->
<!-- <section>
    <h2>Crea tu cuenta con nosotros</h2>
    <input required name="username" [(ngModel)]="auth.username" placeholder="Nombre de usuario" type="text" >
    <br>
    <input required name="email" [(ngModel)]="auth.email" placeholder="Correo electrónico" type="text" >
    <br>
    <input #myPassword="ngModel" required name="password" [(ngModel)]="auth.password" placeholder="Contraseña" type="password">
    <div *ngIf="myPassword.errors && (myPassword.dirty || myPassword.touched)">
      <p style="background:red;color:white" [hidden]="!myPassword.errors.required">La contraseña es obligatoria.</p>
    </div>
    <br>
    <input required name="password2" [(ngModel)]="auth.password2" placeholder="Repite tu contraseña" type="password">
    <br>
    <button (click)="signup()">Crear cuenta</button>
    <p *ngIf="auth.password!= auth.password2" style="background: red; color:white">Las contraseñas no coinciden</p>
    <br>
    <p>Si ya tienes cuenta, inicia sesión<span (click)="redirectLogin()" style="color: blue; cursor: pointer;"> aquí</span></p>
  </section> -->

  <div class="wrapper">
    <div class="page-header" style="background-image: url('https://wallpapercave.com/wp/1wqQkRW.jpg');">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                        <div class="card card-register">
                            <h2 class="title">Crea tu cuenta con nosotros</h2>
                            
                            <form class="register-form">
                                <label>Nombre de usuario</label>
                                <input required name="username" [(ngModel)]="auth.username" type="text" class="form-control" >
                                <br>
                                <label>Correo electrónico</label>
                                <input required name="email" [(ngModel)]="auth.email" type="text" class="form-control">
                                <br>
                                <label>Contraseña</label>
                                <input #myPassword="ngModel" required name="password" [(ngModel)]="auth.password" type="password" class="form-control">
                                  <div *ngIf="myPassword.errors && (myPassword.dirty || myPassword.touched)">
                                     <p style="background:red;color:white" [hidden]="!myPassword.errors.required">La contraseña es obligatoria.</p>
                                  </div>
                                  <br>
                                <label>Repite tu contraseña</label>
                                <input required name="password2" [(ngModel)]="auth.password2" type="password" class="form-control">
                                <p *ngIf="auth.password!= auth.password2" style="background: red; color:white">Las contraseñas no coinciden</p>
                                <button class="btn btn-danger btn-block btn-round" (click)="signup()">Crear cuenta</button>
                            </form>
                            
                        </div>
                    </div>
                </div>
                <div class="footer register-footer text-center">
                  <p>Si ya tienes cuenta, inicia sesión<span (click)="redirectLogin()" style="color: blue; cursor: pointer;"> aquí</span></p>
                </div>
            </div>
    </div>
</div>
